.imgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: white;
    padding:5px; 
    background:linear-gradient(45deg,red,blue); 
 
}

.teste{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: white;
}

.container{
    display: flex;
    width: 8rem;
    height: 8rem;
    background: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.namecontainer{
    font-weight: bold;
}