.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    color: black;
    border-radius: 1rem;
}
.container p{
    margin: 0;
    font-size: 18px;
}

.container h1{
    font-size: 28px;
    font-weight: bold;
}

.container a{
    display: block;
    margin: 0;
    width: 40px;
    height: 3px;
    border-radius: 1rem;
}

.textcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textcontainer div h1{
    font-size: 26px;
    font-weight: bold;
}

.chartscontainer{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 1000px) {
    .textcontainer div h1{
        font-size: 20px;
        font-weight: bold;
    }
    .textcontainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .chartscontainer{
        align-items: center;
        justify-content: center;
        width: 80%
    }
    .controldisplay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }