
.container{
  display: flex;
  background: linear-gradient(30deg,#808080,#6a6a6a,#545454,#3f3f3f);
  color: white;
  width: 100%;
  height: 100%;
}
.conteudocontainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
}
.infocontainer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #fafafa;
}

.fixedcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 23rem;
  border-radius: 1rem;
  height: auto;
  background: #F5F5F5;
}

.infocard{
  margin-top: 5rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 1rem;
  width: 47rem;
  height: auto; 
}

.animation{
  border-radius: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-left: -100%;
  }

  50% {
    margin-left: 0%;
  }

}

.animation::-webkit-scrollbar {
  width: 1px
} 

.animation::-webkit-scrollbar-thumb {   
  background-color: darkgrey;   
  }
