.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 4rem;
}

.textcontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bar{
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background: #545454;
}

.colorbar{
    width: 80%;
    height: 1rem;
    border-radius: 1rem;
    background: linear-gradient(54deg,#0e5e9b,#38a3ca,#22abc3,#22c38d);
}